@import "tailwindcss";

/*
 * The values here show next to the class names in VSCode with Tailwind CSS IntelliSense.
 * They're immediately overwritten by the default theme.
 * As of this writing, this is needed for Tailwind to register the custom properties and utility classes.
 */
@theme {
  --color-shell: #1c1c20;
  --color-window: #222226;
  --color-surface: #2e2e33;
  --color-surface-alt: #333338;
  --color-surface-accent: #44444c;
  --color-surface-accent-hover: #4c4c52;
  --color-surface-hover: #3a3a3f;
  --color-surface-hover-alt: #44444c;
  --color-text: #e4e4e5;
  --color-muted: #8c8486;
  --color-accent: #33b056;
  --color-accent-hover: #5ac29e;
  --color-danger: red;
  --color-danger-hover: red;
  --color-border: red;
  --color-border-lighter: #29292e;
  --color-border-darker: #050506;
  --color-scrollbar: oklch(0.541 0.007 294);

  --text-sm-base: 0.85rem;

  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
}

.no-select {
  user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
}

/* Remove the default input buttons for numer inputs */
/* Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* For WebKit browsers: Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent; /* track background */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 4px; /* rounded corners */
  border: 2px solid transparent; /* spacing around thumb */
  background-clip: content-box; /* keep border as spacing */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar); /* hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) transparent;
}

.wallpaper {
  background-image: var(--wallpaper); /* var(--wallpaper) is set in themeService.applyWallpaper() */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
